h1 {
  color: black;
  font-size: 52px;
  border: 2px solid rgb(85, 17 0);
}

p {
color: black;
}

body{
  background-color: rgb(255, 85, 0)

}

.wrap {
  font-size: 28px;
  font-family: 'Arial', sans-serif;
  font-weight: 200;
}

.wrapper {
  background-size: cover;
  background-color: rgb(255, 170, 0);
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 200;
  min-height: 10vh;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.Longwrap {
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 200;
}

.Longwrapper {
  background-size: cover;
  background-color: rgb(255, 170, 0);
  font-size: 70px;
  font-family: 'Arial', sans-serif;
  font-weight: 200;
  min-height: 10vh;
  position: relative;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#Paragraph{
  float: right;
  margin-right: 0px;
  margin-top: 0px;
}

#MyRoster{
  float: right;
}




